<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobatia.vkcexecutive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.mobatia.vkcsalesapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
        <permission
            android:name="com.mobatia.vkcsalesapp.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
     -->
    <uses-permission android:name="com.mobatia.vkcsalesapp.permission.C2D_MESSAGE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.mobatia.vkcexecutive.controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/backbutton"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/CustomActionBarTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.mobatia.vkcexecutive.activities.VKCSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.mobatia.vkcexecutive.activities.LoginActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"></activity>
        <!--  <activity
              android:name="com.mobatia.vkcsalesapp.activities.SalesOrderActivity"
              android:label="@string/app_name"
              android:screenOrientation="portrait" >
          </activity>-->
        <activity
            android:name="com.mobatia.vkcexecutive.activities.RedeemReportDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SignUpActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SubDealerOrderDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SalesOrderDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.ReSubmitOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SubDealerDispatchListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.RetailersListViewOnSearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.ProductDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.FilterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SalesRepOrderList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.GroupMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.OrderedProductList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SubDealerStatusListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SubDealerListByCategory"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.CategoryOrderListDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.SalesHeadOrderDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.CartActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.DispatchedListDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.ArticleListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.mobatia.vkcexecutive.activities.Order_Detail_Approved"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <!--  <activity
             android:name="com.mobatia.vkcsalesapp.activities.NotificationListActivity"
             android:label="@string/app_name"
             android:screenOrientation="portrait" >
         </activity>-->
        <activity
            android:name="com.mobatia.vkcexecutive.activities.NotificationDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.Dealer_Dispatch_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.mobatia.vkcexecutive.activities.DashboardFActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- <meta-data -->
            <!-- android:name="android.app.default_searchable" -->
            <!-- android:value="com.mobatia.vkcsalesapp.activities.DashboardFActivity" /> -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- <service android:name="com.mobatia.vkcsalesapp.manager.GoogleRegisteratio nService"></service>-->

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mobatia.vkcsalesapp" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.mobatia.vkcexecutive.util.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--<service android:name="com.mobatia.vkcsalesapp.GCMIntentService" />-->
        <service
            android:name="com.mobatia.vkcexecutive.fcmservice.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC8gBvx3rFrQCgPvxseUN-0ZNo-b9aQ3M4" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>